{% macro render_blog_post(post, from_index=false) %}
  <div class="article">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="header">
    Posted by {{ post.author }} on {{ post.pub_date }}
    {% if post.tags %}
      <br />
      Tagged as
      {% for t in post.tags -%}
        <a class="tag" href="{{ ('/articles@tag/' ~ t.lower())|url }}"
          >{{t}}</a>{%- if not loop.last %},{% endif %}
      {% endfor %}
    {% endif %}
  </p>
  {% if from_index %}
    {{ post.body|cut_here }}
    {% if post.body.html.find('CUT-HERE') >= 0 %}
    <p class="read-more"><a href="{{ post|url }}">Read more...</a></p>
    {% endif %}
  {% else %}
    {{ post.body }}
  {% endif %}
  </div>
{% endmacro %}


{% macro render_blog_archive() %}

<h3>Articles archive</h3>
<ul class="links">
{%- for archive in site.get("articles@blog-archive").year_archives %}
  <li><a href="{{archive|url}}">{{archive.year}}</a></li>
{%- endfor %}
</ul>

{% endmacro %}
