{% extends "page.html" %}

{% block head %}
    <link rel="alternate" type="application/atom+xml" title="Psycopg news"
      href="{{'/news.xml'|url}}" />
    <link rel="alternate" type="application/atom+xml" title="Psycopg articles"
      href="{{'/articles.xml'|url}}" />
{%- endblock %}

{% block body %}
<div class="teaser">
{{ this.teaser }}
</div>

<div class="sponsor">
  <p>
  The <a href="/psycopg3/">psycopg3 project</a> is currently
  <a href="https://github.com/psycopg/psycopg3" target="_blank"
    >in stable release</a>.
  </p>

  <p>
  Sponsoring this project will help achieve swift completion and
  ensure the maintenance of psycopg2, psycopg3 and other related
  projects.
  </p>

  <p>
  If you use Python and PostgreSQL, and you would like to support the
  creation of the most advanced adapter between the two systems,
  <a href="https://github.com/sponsors/dvarrazzo/" target="_blank"
    >please consider becoming a sponsor</a>. Thank you!
  </p>

  <iframe src="https://github.com/sponsors/dvarrazzo/button"
          title="Sponsor the project" style="border: 0"
          width="116" height="35">
  </iframe>

  <div class="clear"></div>
</div>

{{ this.body }}

{% from "macros/blog.html" import render_blog_post %}
<div class="dashed-top">
  <h1>Latest articles</h1>
  {%- for post in site.get("/articles").children.limit(3) %}
    {{- render_blog_post(post, from_index=true) }}
  {%- endfor %}
  <a href="{{'/articles'|url}}">See all articles...</a>
</div>

{%- endblock %}

{% block sidebar %}
{{- render_side_links(this) }}

<div class="dashed-top">
  <a class="twitter-timeline" data-width="300" data-height="600" data-dnt="true"
    href="https://twitter.com/psycopg?ref_src=twsrc%5Etfw">Tweets by psycopg</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endblock %}
