{% extends "layout.html" %}

{% block body %}
<div class="sponsors-page">
  <h1 class="sponsors-page__heading">sponsors</h1>

  <div class="sponsors-page__intro">
    {{ this.body }}
  </div>

  <a class="btn--pro sponsors-page__cta" href="https://github.com/sponsors/psycopg">Become a sponsor</a>

  <p class="sponsors-page__note">For sponsorship options outside of GitHub, drop us a message at <button type="button" class="sponsors-page__copy" data-copy="sponsor@psycopg.org">sponsor@psycopg.org</button> - we'd love to talk!</p>

  <div class="sponsor-wall">
    <!-- SPONSOR-WALL-START -->
      <section class="sponsor-wall__group sponsor-wall__group--gold">
        <h2 class="sponsor-wall__tier">Gold sponsors</h2>
        <div class="sponsor-wall__items">
          <a class="sponsor-wall__item sponsor-wall__item--square" href="https://www.commandprompt.com/" title="Command Prompt, Inc.">
            <img src="/img/sponsors/command-prompt.jpeg" alt="Command Prompt, Inc." />
            <span class="sponsor-wall__name">Command Prompt, Inc.</span>
          </a>
        </div>
      </section>
      <section class="sponsor-wall__group sponsor-wall__group--silver">
        <h2 class="sponsor-wall__tier">Silver sponsors</h2>
        <div class="sponsor-wall__items">
          <a class="sponsor-wall__item" href="https://postgrespro.com/" title="Postgres Pro">
            <img src="/img/sponsors/postgrespro.png" alt="Postgres Pro" />
            <span class="sponsor-wall__name">Postgres Pro</span>
          </a>
        </div>
      </section>
      <section class="sponsor-wall__group sponsor-wall__group--bronze">
        <h2 class="sponsor-wall__tier">Bronze sponsors</h2>
        <div class="sponsor-wall__items">
          <a class="sponsor-wall__item" href="https://www.gresearch.com/teams/open-source-software/" title="G‑Research Open Source">
            <img src="/img/sponsors/g-research.jpeg" alt="G‑Research Open Source" />
            <span class="sponsor-wall__name">G‑Research Open Source</span>
          </a>
          <a class="sponsor-wall__item" href="https://materialize.com" title="Materialize">
            <img src="/img/sponsors/materialize.png" alt="Materialize" />
            <span class="sponsor-wall__name">Materialize</span>
          </a>
          <a class="sponsor-wall__item" href="https://sentry.io" title="Sentry">
            <img src="/img/sponsors/sentry.png" alt="Sentry" />
            <span class="sponsor-wall__name">Sentry</span>
          </a>
          <a class="sponsor-wall__item" href="https://www.yougov.com" title="YouGov">
            <img src="/img/sponsors/yougov.png" alt="YouGov" />
            <span class="sponsor-wall__name">YouGov</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="http://www.dalibo.com" title="Dalibo">
            <img src="/img/sponsors/dalibo.png" alt="Dalibo" />
            <span class="sponsor-wall__name">Dalibo</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="https://www.codeureusesenliberte.fr/" title="Codeur·euses en Liberté">
            <img src="/img/sponsors/cel.png" alt="Codeur·euses en Liberté" />
            <span class="sponsor-wall__name">Codeur·euses en Liberté</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="https://intevation.de" title="Intevation">
            <img src="/img/sponsors/intevation.png" alt="Intevation" />
            <span class="sponsor-wall__name">Intevation</span>
          </a>
          <a class="sponsor-wall__item" href="https://httpie.io" title="HTTPie">
            <img src="/img/sponsors/httpie.png" alt="HTTPie" />
            <span class="sponsor-wall__name">HTTPie</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="https://healthchecks.io" title="Healthchecks">
            <img src="/img/sponsors/healthchecks.png" alt="Healthchecks" />
            <span class="sponsor-wall__name">Healthchecks</span>
          </a>
          <a class="sponsor-wall__item" href="https://www.20tab.com/" title="20tab">
            <img src="/img/sponsors/20tab.png" alt="20tab" />
            <span class="sponsor-wall__name">20tab</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="http://www.genropy.org" title="Genropy">
            <img src="/img/sponsors/genropy.jpeg" alt="Genropy" />
            <span class="sponsor-wall__name">Genropy</span>
          </a>
          <a class="sponsor-wall__item" href="https://ecosyste.ms" title="ecosyste.ms">
            <img src="/img/sponsors/ecosyste-ms.png" alt="ecosyste.ms" />
            <span class="sponsor-wall__name">ecosyste.ms</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="http://www.logilab.org" title="Logilab">
            <img src="/img/sponsors/logilab.png" alt="Logilab" />
            <span class="sponsor-wall__name">Logilab</span>
          </a>
          <a class="sponsor-wall__item" href="https://ferpection.com" title="Ferpection">
            <img src="/img/sponsors/ferpection.png" alt="Ferpection" />
            <span class="sponsor-wall__name">Ferpection</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="https://webisoft.com/django-development" title="Webisoft">
            <img src="/img/sponsors/webisoft.png" alt="Webisoft" />
            <span class="sponsor-wall__name">Webisoft</span>
          </a>
        </div>
      </section>
      <section class="sponsor-wall__group sponsor-wall__group--backer">
        <h2 class="sponsor-wall__tier">Backers</h2>
        <div class="sponsor-wall__items">
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://wedgworth.dev">Wedgworth&#x27;s, Inc</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://growthpath.com.au">GrowthPath</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://www.ohne-makler.net">OM PropTech GmbH</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="http://www.phenopolis.co.uk">Phenopolis</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/asqui">Daniel Fortunov</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/pphysch">pphysch</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="http://www.svenne.dk">Svenne Krap</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="http://beri.it">Marco Beri</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/la-mar">Brock Friedrich</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://plugaru.org">Alex Plugaru</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/rafmagns-skepa-dreag">Richard H</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://www.rustprooflabs.com">Ryan Lambert</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://info.xoxzo.com/">Iqbal Abdullah</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/c-rindi">C~+</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/abegerho">Abhishek Begerhotta</a>
        </div>
      </section>
      <!-- SPONSOR-WALL-END -->
  </div>
</div>
{% endblock %}
{# vim: set filetype=htmldjango: #}
