{% extends "layout.html" %}

{% block body %}
<div class="sponsors-page">
  <h1 class="sponsors-page__heading">sponsors</h1>

  <div class="sponsors-page__intro">
    {{ this.body }}
  </div>

  <a class="btn--pro sponsors-page__cta" href="https://github.com/sponsors/psycopg" target="_blank" rel="noopener">Become a sponsor</a>

  <div class="sponsor-wall">
    <!-- SPONSOR-WALL-START -->
      <section class="sponsor-wall__group sponsor-wall__group--gold">
        <h2 class="sponsor-wall__tier">Gold sponsors</h2>
        <div class="sponsor-wall__items">
          <a class="sponsor-wall__item sponsor-wall__item--square" href="https://www.commandprompt.com/" target="_blank" rel="noopener" title="Command Prompt, Inc.">
            <img src="/img/sponsors/command-prompt.jpeg" alt="Command Prompt, Inc." width="128" height="128" />
            <span class="sponsor-wall__name">Command Prompt, Inc.</span>
          </a>
        </div>
      </section>
      <section class="sponsor-wall__group sponsor-wall__group--silver">
        <h2 class="sponsor-wall__tier">Silver sponsors</h2>
        <div class="sponsor-wall__items">
          <a class="sponsor-wall__item" href="https://postgrespro.com/" target="_blank" rel="noopener" title="Postgres Pro">
            <img src="/img/sponsors/postgrespro.png" alt="Postgres Pro" width="104" height="104" />
            <span class="sponsor-wall__name">Postgres Pro</span>
          </a>
        </div>
      </section>
      <section class="sponsor-wall__group sponsor-wall__group--bronze">
        <h2 class="sponsor-wall__tier">Bronze sponsors</h2>
        <div class="sponsor-wall__items">
          <a class="sponsor-wall__item" href="https://www.gresearch.com/teams/open-source-software/" target="_blank" rel="noopener" title="G-Research Open Source">
            <img src="/img/sponsors/g-research.jpeg" alt="G-Research Open Source" width="80" height="80" />
            <span class="sponsor-wall__name">G-Research Open Source</span>
          </a>
          <a class="sponsor-wall__item" href="https://materialize.com" target="_blank" rel="noopener" title="Materialize">
            <img src="/img/sponsors/materialize.png" alt="Materialize" width="80" height="80" />
            <span class="sponsor-wall__name">Materialize</span>
          </a>
          <a class="sponsor-wall__item" href="https://sentry.io" target="_blank" rel="noopener" title="Sentry">
            <img src="/img/sponsors/sentry.png" alt="Sentry" width="80" height="80" />
            <span class="sponsor-wall__name">Sentry</span>
          </a>
          <a class="sponsor-wall__item" href="https://www.yougov.com" target="_blank" rel="noopener" title="YouGov">
            <img src="/img/sponsors/yougov.png" alt="YouGov" width="80" height="80" />
            <span class="sponsor-wall__name">YouGov</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="http://www.dalibo.com" target="_blank" rel="noopener" title="Dalibo">
            <img src="/img/sponsors/dalibo.png" alt="Dalibo" width="80" height="80" />
            <span class="sponsor-wall__name">Dalibo</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="https://intevation.de" target="_blank" rel="noopener" title="Intevation">
            <img src="/img/sponsors/intevation.png" alt="Intevation" width="80" height="80" />
            <span class="sponsor-wall__name">Intevation</span>
          </a>
          <a class="sponsor-wall__item" href="https://httpie.io" target="_blank" rel="noopener" title="HTTPie">
            <img src="/img/sponsors/httpie.png" alt="HTTPie" width="80" height="80" />
            <span class="sponsor-wall__name">HTTPie</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="https://healthchecks.io" target="_blank" rel="noopener" title="Healthchecks">
            <img src="/img/sponsors/healthchecks.png" alt="Healthchecks" width="80" height="80" />
            <span class="sponsor-wall__name">Healthchecks</span>
          </a>
          <a class="sponsor-wall__item" href="https://beefree.io" target="_blank" rel="noopener" title="BEE">
            <img src="/img/sponsors/beefree.png" alt="BEE" width="80" height="80" />
            <span class="sponsor-wall__name">BEE</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="http://www.genropy.org" target="_blank" rel="noopener" title="genropy">
            <img src="/img/sponsors/genropy.jpeg" alt="genropy" width="80" height="80" />
            <span class="sponsor-wall__name">genropy</span>
          </a>
          <a class="sponsor-wall__item" href="https://ecosyste.ms" target="_blank" rel="noopener" title="Ecosystems">
            <img src="/img/sponsors/ecosyste-ms.png" alt="Ecosystems" width="80" height="80" />
            <span class="sponsor-wall__name">Ecosystems</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="http://www.logilab.org" target="_blank" rel="noopener" title="Logilab">
            <img src="/img/sponsors/logilab.png" alt="Logilab" width="80" height="80" />
            <span class="sponsor-wall__name">Logilab</span>
          </a>
          <a class="sponsor-wall__item" href="https://ferpection.com" target="_blank" rel="noopener" title="Ferpection">
            <img src="/img/sponsors/ferpection.png" alt="Ferpection" width="80" height="80" />
            <span class="sponsor-wall__name">Ferpection</span>
          </a>
          <a class="sponsor-wall__item sponsor-wall__item--square" href="https://webisoft.com/django-development" target="_blank" rel="noopener" title="Webisoft">
            <img src="/img/sponsors/webisoft.png" alt="Webisoft" width="80" height="80" />
            <span class="sponsor-wall__name">Webisoft</span>
          </a>
        </div>
      </section>
      <section class="sponsor-wall__group sponsor-wall__group--backer">
        <h2 class="sponsor-wall__tier">Backers</h2>
        <div class="sponsor-wall__items">
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://wedgworth.dev" target="_blank" rel="noopener">Wedgworth&#x27;s, Inc</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://growthpath.com.au" target="_blank" rel="noopener">GrowthPath</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://www.ohne-makler.net" target="_blank" rel="noopener">OM PropTech GmbH</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="http://www.phenopolis.co.uk" target="_blank" rel="noopener">Phenopolis</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/asqui" target="_blank" rel="noopener">Daniel Fortunov</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/pphysch" target="_blank" rel="noopener">pphysch</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="http://www.svenne.dk" target="_blank" rel="noopener">Svenne Krap</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="http://beri.it" target="_blank" rel="noopener">Marco Beri</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/la-mar" target="_blank" rel="noopener">Brock Friedrich</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://plugaru.org" target="_blank" rel="noopener">Alex Plugaru</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/rafmagns-skepa-dreag" target="_blank" rel="noopener">Richard H</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://www.rustprooflabs.com" target="_blank" rel="noopener">Ryan Lambert</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://info.xoxzo.com/" target="_blank" rel="noopener">Iqbal Abdullah</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/c-rindi" target="_blank" rel="noopener">C~+</a>
          <a class="sponsor-wall__item sponsor-wall__item--name" href="https://github.com/abegerho" target="_blank" rel="noopener">Abhishek Begerhotta</a>
        </div>
      </section>
      <!-- SPONSOR-WALL-END -->
  </div>
</div>
{% endblock %}
{# vim: set filetype=htmldjango: #}
